// anuncio navbar //

.anuncio {
  @include position-relative (fixed, 0, null, 0, 0, 1000);
  @include flex (flex, center, center, null);
  @include anuncio-barra ($patron-anuncio-escala-de-rosas, null, 0.6rem, 3rem);
  box-shadow: inset 0px 0px 32px -1px rgba(0, 0, 0, 0.48);

  &__letra {
    @include anuncio-letra (0, medium, scaleY(0.9), 400, #fff);
    @include fonts (large, $font-parrafo, 500, null);

    &:hover {
      color: #F6FDC3;
      transition: .25s ease;
    }
  }
}

// navbar //

.navbar-pc {
  @include position-relative (fixed, 3rem, null, 0, 0, 1000);
  background-color: #ffffffb0;
  backdrop-filter: blur(10px);
  @include medida-navbar (space-between, center, 0);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  height: 8rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .8s;
  }

  &:hover::before {
    left: 100%;
  }

  &__base1 {
    margin-left: 150px;
  }


  &__left {
    @include links-flex-tamano-espacio (flex, large, 1.5rem);
    display: flex;
    gap: 25px;
    padding: 0;

    &-item:hover .dropdown-menu {
      display: block;
    }
  }

  &__logo {
    position: absolute;
    @include flex-justify-align (center, center);
    @include ancho-alto (13rem, 13rem);
    backdrop-filter: blur(10px);
    background-color: #ffffffb0;
    top: 5%;
    left: 45%;
    border-radius: 50%;

    &__img {
      width: 10.5rem;
      border-radius: 50%;
    }
  }

  &__base {
    @include medida-navbar (null, null, null);
    display: flex;
    gap: 25px;
    margin-right: 150px;

    & .social-icons {
      @include links-flex-tamano-espacio (flex, null, 1rem);
      padding: 0;

      &:hover {
        color: #ff6969;
      }

      .carrito {
        border: 0;
        padding: 0;
      }

      .searchb {
        border: 0;
        padding: 0;
      }

      .offcanvas-end {
        height: 100vh;
      }

      .offcanvas-top {
        top: 0;
        right: 0;
        left: 0;
        max-height: 30vh;

        .offcanvas {

          &-title {
            @include fonts (3, $font-titulo, 600, none);
          }

          &-body {
          
            &__bar {
              @include ancho-alto (28rem, 3.8rem);
              border: none;
              border-bottom: 2px solid $color-marron-texto;
  
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  &__right {
    @include links-flex-tamano-espacio (flex, large, 1.5rem);

    &-item:hover .dropdown-menu {
      display: block;
    }
  }

  &__dropdown-menu {
    font-size: large;
    animation: .5s slideup;
  }

  &__link:hover {
    @include flecha-color-transfor-transi (#ff6969, rotate(180deg), .25s ease);

    & i.fa-chevron-down {
      @include flecha-color-transfor-transi (#ff6969, rotate(180deg), .25s ease);
    }
  }

  &__link:focus {
    color: #ff6969;

    & i.fa-chevron-down {
      @include flecha-color-transfor-transi (#ff6969, rotate(270deg), .25s ease);
    }
  }
}

.main-content {
  margin-top: 11rem;
}

// media queries //

@media only screen and (max-width: 9999px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 174px) {

  .navbar-collapse.show {
    top: 0;
    max-height: 100vh;
  }
}

@media screen and (max-width: 1451px) {

  .navbar-pc {

    &__left {
      @include fonts (1.45rem, $font-parrafo, 400, none);
    }

    &__base1 {
      margin-left: 40px;
      @include fonts (1.45rem, $font-parrafo, 400, none);
    }

    &__base {
      margin-right: 40px;

      & .social-icons {
        @include fonts (0.8rem, $font-parrafo, 400, none);
      }
    }

    &__right {
      @include fonts (1.45rem, $font-parrafo, 400, none);
    }
  }
}

@media screen and (max-width: 1121px) {

  .navbar-pc {

    &__base1 {
      margin-left: 20px;
      @include fonts (1.45rem, $font-parrafo, 400, none);
    }

    &__base {
      margin-right: 20px;

      & .social-icons {
        @include fonts (0.8rem, $font-parrafo, 400, none);
      }
    }
  }
}

@media only screen and (min-width: 20px) and (max-width: 991px) {

  .navbar-pc {
    display: none;
  }

  .container-fluid {
    @include paddin-left-right (2rem, 2rem);
  }

  .navbar {
    display: flex;
    @include position-relative (fixed, 0, null, 0, 0, 1001);
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

    &-brand {
      & img {
        width: 11rem;
      }
    }

    &-collapse {
      transform: translateX(-100%);
      transition: 0.2s ease-out;

      &.show {
        @include paddin-left-right (0.75rem, 0.75rem);
        transform: translateX(0);
        transition: 0.2s ease-in-out;
        @include position-relative (fixed, 8rem, 0, 0, 0, 1000);
        background-color: #fff;
      }
    }

    &-toggler {
      @include boton-burger (none !important, #CE5A67, #fff);

      &:focus {
        box-shadow: none;
      }
    }

    &-nav {
      @include links-flex-tamano-espacio (null, large, null);
      font-family: $font-menus;
      padding-top: 2.3rem;

      &:focus {
        color: #ff6969;
      }

      .dropdown {
        &-toggle {
          &::after {
            display: none;
          }
        }

        &-menu {
          animation: .5s slideup;
        }

        &-item {
          @include links-flex-tamano-espacio (null, large, null);

          &:focus {
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }

    .nav {

      &-item {

        .login-icono {
          display: flex;
          margin-top: 36px;

          &__icon {
            @include boton-search-icono-fondo-border-vertical-marginright (transparent, none, middle, 1.3rem);
          }

          &__link {
            font-weight: 500;
            transform: $letras-especiales-aplastadas;
            @include text-decoration (underline, auto, 2px);

            &:active {
              color: #ff6969;
              transition: $suave-o-semilento;
            }
          }
        }
      }

      &-link {
        padding-top: 1.8rem;

        &:focus {
          color: #ff6969;
        }

        &:active {
          color: #ff6969;
        }
      }
    }

    .hr {
      @include margintop-marginbottom (-2px, -2px);
    }
  }

  .boton-barrita {
    @include ancho-alto (3rem, 3rem);
  }

  .search-button {

    &__button {
      @include boton-search-icono-fondo-border-vertical-marginright (transparent, none, middle, 1rem);
    }

    &__search-bar {
      transform: $letras-especiales-aplastadas;
      vertical-align: middle;
      @include boton-search-borde-tamano-fontfamily-fontweight (none, 2rem, $font-menus, 400);

      &:focus {
        outline: none;
      }
    }
  }

  .carrito-mobile {
    margin-top: 1.5rem;
    padding: 0;
    width: 0;
    border: 0;
  }

  .main-content {
    margin-top: 8.2rem;
  }
}