// pagina pasteleria //

// Banner //

.banner-pasteleria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 338px;
    max-width: none;

    &__container1 {
        grid-column: span 6;
        background-color: $color-banners;
        
        &__solidbase {
            @include ancho-alto (70%, 100%);
            margin-left: auto;

            &__base-breadcrump {
                padding: 20px 60px 0 25px;

                .breadcrumb {
                    @include fonts (20px, $font-parrafo, 600, none);
                    transform: scaleY(0.97);

                    &-one {
                        color: $color-marron-texto;
                        position: relative;

                        &:hover {

                            &::before {
                                visibility: visible;
                                transform: scaleX(1);
                            }
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #fff;
                            visibility: hidden;
                            transform: scaleX(0);
                            transition: all 0.3s ease-in-out;
                        }

                        &__blank {
                            &__hov {
                                &:hover {
                                    transition: all 0.3s ease-in-out;
                                    color: #fff;
                                }
                            }
                        }

                        &__dos {

                            &__do {
                                cursor: default;
                            }
                        }
                    }

                    &-two {
                        color: $color-marron-texto;
                        position: relative;

                        &:hover {

                            &::before {
                                visibility: visible;
                                transform: scaleX(1);
                            }
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $color-marron-texto;
                            visibility: hidden;
                            transform: scaleX(0);
                            transition: all 0.3s ease-in-out;
                        }

                        &__dos {

                            &__do {
                                cursor: default;
                            }
                        }
                    }

                    &-divider {
                        @include margin-left-right (5px, 5px);
                        color: $color-marron-texto;
                        font-size: medium;
                    }
                }
            }

            &__base-titular {
                padding: 0 60px 0 20px;
                display: inline-block;

                &__titulo {
                    @include fonts (3.5rem, $font-titulo, 600, none);
                    transform: scaleY(1.3);
                    color: $color-marron-texto;
                    padding-top: 20px;
                }
            }

            &__base-parrafo {
                padding: 0 60px 0 20px;
                display: inline-block;

                &__parra {
                    @include fonts (18px, $font-parrafo, 500, none);
                    color: $color-marron-texto;
                    text-align: start;
                    padding-top: 30px;
                }
            }
        }
    }

    &__container2 {
        grid-column: span 6;

        &__imagenbanner {
            @include ancho-alto (100%, 100%);
            object-fit: cover;

        }
    }
}



// Seccion Catalogo //

.catalogo-pasteles {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 0 auto;
    gap: 2rem;
    max-width: 1352px;

    &__seccion-filter {
        @include ancho-alto (25%, auto);


        &::before {
            box-sizing: border-box;
        }

        &__filtrotitu {
            @include fonts (4rem, $font-titulo, 600, none);
            padding: 12.5px;
            margin: 0;
            transform: scaleY(1.3);
            color: $color-marron-texto;
        }

        .accordion {
            @include ancho-alto (100%, auto);
            --bs-accordion-active-bg: none;
            --bs-border-width: none;


            &-button {
                @include fonts (2rem, $font-titulo, 600, none);
                color: $color-marron-texto;
                transform: scaleY(1.1);

                &:focus {
                    box-shadow: none;
                }
            }

            &-body {
                @include fonts (1.5rem, $font-parrafo, 600, none);

                &__item {
                    color: $color-marron-texto;
                    transform: scaleY(1.1);
                }
            }
        }
    }
}

// seccion grid // 

.grid-catalogo {
    @include ancho-alto (80%, null);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    @include paddin-left-right (6%, 6%);
    overflow: hidden;

    .titulo-media {
        display: none;
    }

    &__card {
        grid-column: span 2;
        border-radius: 3%;
        min-width: none;

        &__cajaima {
            @include ancho-alto (100%, 306px);
            overflow: hidden;
            border-top-right-radius: 3%;
            border-top-left-radius: 3%;

            &__imagen {
                @include ancho-alto (100%, 306px);
                border-top-right-radius: 3%;
                border-top-left-radius: 3%;


                &:hover {
                    transform: scale(1.1);
                    @include transicion-3segun;
                    filter: brightness(60%);
                }
            }
        }

        &__cajatexto {
            @include ancho-alto (auto, null);
            padding: 20px;

            &__titul {
                @include fonts (2rem, $font-titulo, 600, none);
                color: $color-marron-texto;
            }

            &__parraf {
                @include fonts (1.5rem, $font-parrafo, 600, none);
                color: $color-marron-texto;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            &__precio {
                @include fonts (1.5rem, $font-parrafo, 600, none);
                color: $color-marron-texto;
            }
        }
    }
}

// mediaqueries //

@media screen and (max-width: 1353px) {

    .banner-pasteleria {

        &__container1 {

            &__solidbase {
                @include ancho-alto (100%, 100%);

                &__base-titular {

                    &__titulo {
                        @include fonts (3rem, $font-titulo, 600, none);
                        transform: scaleY(1.3);
                        color: $color-marron-texto;
                    }
                }

                &__base-parrafo {

                    &__parra {
                        @include fonts (1.7rem, $font-parrafo, 600, none);
                        color: $color-marron-texto;
                        text-align: start;
                    }
                }
            }
        }
    }

    .grid-catalogo {
        @include paddin-left-right (0, 0);
        grid-template-columns: repeat(150px, 1fr);
    }
}

@media screen and (max-width: 1015px) {
    .catalogo-pasteles {
        &__seccion-filter {
            display: none;
        }
    }

    .grid-catalogo {
        @include ancho-alto (100%, null);
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        @include paddin-left-right (3%, 3%);
    }
}

@media screen and (max-width: 912px) {
    .catalogo-pasteles {
        &__seccion-filter {
            display: none;
        }
    }

    .banner-pasteleria {

        &__container1 {

            &__solidbase {
                @include ancho-alto (100%, 100%);

                &__base-titular {

                    &__titulo {
                        @include fonts (2.5rem, $font-titulo, 600, none);
                    }
                }

                &__base-parrafo {

                    &__parra {
                        @include fonts (1.6rem, $font-parrafo, 600, none);
                    }
                }
            }
        }
    }

    .grid-catalogo {
        @include ancho-alto (100%, null);
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        @include paddin-left-right (0, 0);
    }
}

@media screen and (max-width: 799px) {
    .catalogo-pasteles {
        &__seccion-filter {
            display: none;
        }
    }

    .grid-catalogo {
        @include ancho-alto (100%, null);
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        @include paddin-left-right (0, 0);

        &__card {
            box-shadow: none;
            border-radius: 5%;

            &__cajaima {

                &__imagen {
                    object-fit: center;
                    border-radius: 5%;
                    overflow: hidden;
                }
            }

            &__cajatexto {

                &__titul {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }

            .mousse {
                @include ancho-alto (100%, 100%);
                object-fit: cover;


                &:hover {
                    transform: scale(1.1);
                    @include transicion-3segun;
                    ;
                    filter: brightness(60%);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .banner-pasteleria {
        display: none;
    }

    .catalogo-pasteles {
        &__seccion-filter {
            display: none;
        }
    }

    .grid-catalogo {
        grid-template-columns: 1fr;
        @include ancho-alto (100%, auto);
        @include paddin-left-right (3%, 3%);

        .titulo-media {
            @include flex-justify-align (flex-start, null);
            @include fonts (3rem, $font-titulo, 600, none);
            color: $color-marron-texto;
            padding-left: 0;
            padding-top: 1rem;
            transform: scaleY(1.3);
        }

        &__card {
            display: flex;
            box-shadow: none;
            border-radius: 5%;

            &__cajaima {
                @include ancho-alto (100%, 150px);
                border-radius: 5%;

                &__imagen {
                    @include ancho-alto (100%, 150px);
                    object-fit: center;
                    border-radius: 5%;
                    overflow: hidden;
                }
            }

            &__cajatexto {
                @include ancho-alto (280vw, auto);

                &__titul {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {

    .grid-catalogo {
        grid-template-columns: 1fr;
        @include ancho-alto (100%, auto);
        @include paddin-left-right (3%, 3%);

        .titulo-media {
            @include flex-justify-align (flex-start, null);
            @include fonts (3rem, $font-titulo, 600, none);
            color: $color-marron-texto;
            padding-left: 0;
            padding-top: 1rem;
            transform: scaleY(1.3);
        }

        &__card {
            display: flex;
            box-shadow: none;


            &__cajaima {
                @include ancho-alto (50rem, 193px);
                border-radius: 5%;

                &__imagen {
                    border-radius: 5%;
                    @include ancho-alto (100%, 100%);
                }
            }

            &__cajatexto {
                display: flex;
                flex-direction: column;
                @include ancho-alto (300vw, auto);
                padding: 0 20px;
                justify-content: space-evenly;

                &__titul {
                    overflow: hidden;
                    display: flex;
                    -webkit-line-clamp: none;
                    -webkit-box-orient: none;
                }
            }
        }
    }
}