// fonts //

$font-titulo: 'Prata', serif;
$font-parrafo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-menus: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

