// seccion Acerca de // 


.seccion-acercade {

    &__banner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 475px;
        place-items: center;
        position: relative;
        text-align: center;


        &__imagen {
            max-width: 100%;
            max-height: auto;
            grid-column: span 12;
            @include ancho-alto (100%, 400px);
            object-fit: cover;
            filter: brightness(60%);
        }

        &__titulo {
            @include position-relative (absolute, 45%, 0, 0, 0, null);
            @include fonts (6rem, $font-titulo, 200, none);
            transform: translate(-40%, -35%);
            text-align: center;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            transform: scaleY(1.3);
        }
    }

    &__duocontainer {
        background-color: #F3D7CA;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__container1 {
            grid-column: 6 span;
            @include flex-justify-align (center, center);
            flex-direction: column;

            &__titu {
                @include ancho-alto (70%, auto);
                @include fonts (4rem, $font-titulo, 600, none);
                color: $color-marron-texto;
                transform: scaleY(1.3);
            }

            &__parrafo {
                @include ancho-alto (70%, auto);
                @include fonts (1.7rem, $font-parrafo, 600, none);
                padding: 20px 0 50px 0;
                margin-bottom: 30px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
            }

            &__button {
                @include ancho-alto (230px, 60px);
                border-radius: 10px;
                background-color: #9B4444;
                @include fonts (2rem, $font-parrafo, 600, none);
                color: #fff;
                border: none;
                @include transicion-button-3s;

                &:hover {
                    transform: scale(1.1);
                }

                &:focus {
                    background-color: #fa8585;
                    color: #862b2b;
                }
            }
        }

        &__container2 {
            grid-column: 6 span;

            &__imagen {
                @include ancho-alto (100%, 69rem);
                object-fit: cover;
            }
        }
    }

    &__duocontainer2 {
        background-color: #F3D7CA;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__container1 {
            grid-column: 6 span;

            &__imagen {
                @include ancho-alto (100%, 69rem);
                object-fit: cover;
            }
        }

        &__container2 {
            grid-column: 6 span;
            @include flex-justify-align (center, center);
            flex-direction: column;


            &__titu {
                @include ancho-alto (70%, auto);
                @include fonts (4rem, $font-titulo, 600, none);
                color: $color-marron-texto;
                transform: scaleY(1.3);
            }

            &__parrafo {
                @include ancho-alto (70%, auto);
                @include fonts (1.7rem, $font-parrafo, 600, none);
                padding: 20px 0 50px 0;
                margin-bottom: 30px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
            }

            &__button {
                @include ancho-alto (230px, 60px);
                border-radius: 10px;
                background-color: #9B4444;
                @include fonts (2rem, $font-parrafo, 600, none);
                color: #fff;
                border: none;
                @include transicion-button-3s;

                &:hover {
                    transform: scale(1.1);
                }

                &:focus {
                    background-color: #fa8585;
                    color: #862b2b;
                }
            }
        }
    }
}

// mediaqueries // 


@media screen and (max-width: 1074px) {

    .seccion-acercade {

        &__banner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 475px;
            place-items: center;
            position: relative;
            text-align: center;


            &__imagen {
                max-width: 100%;
                max-height: auto;
                grid-column: span 12;
                @include ancho-alto (100%, 250px);
                object-fit: cover;
                filter: brightness(60%);
            }

            &__titulo {
                @include position-relative (absolute, 45%, 0, 0, 0, null);
                @include fonts (5rem, $font-titulo, 200, none);
            }
        }

        &__duocontainer {
            display: grid;

            &__container1 {

                &__titu {
                    @include ancho-alto (auto, auto);
                    @include fonts (2.5rem, $font-titulo, 600, none);
                }

                &__parrafo {
                    @include ancho-alto (70%, auto);
                    @include fonts (1.5rem, $font-parrafo, 600, none);
                }

                &__button {
                    @include ancho-alto (190px, 50px);
                }
            }

            &__container2 {
                grid-column: 6 span;

                &__imagen {
                    @include ancho-alto (100%, 50rem);
                    object-fit: cover;
                }
            }
        }


        &__duocontainer2 {
            background-color: #F3D7CA;
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            &__container1 {
                grid-column: 6 span;

                &__imagen {
                    @include ancho-alto (100%, 50rem);
                    object-fit: cover;
                }
            }

            &__container2 {

                &__titu {
                    @include ancho-alto (auto, auto);
                    @include fonts (2.5rem, $font-titulo, 600, none);
                }

                &__parrafo {
                    @include ancho-alto (70%, auto);
                    @include fonts (1.5rem, $font-parrafo, 600, none);
                }

                &__button {
                    @include ancho-alto (190px, 50px);

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .seccion-acercade {

        &__banner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 475px;
            place-items: center;
            position: relative;
            text-align: center;


            &__imagen {
                max-width: 100%;
                max-height: auto;
                grid-column: span 12;
                @include ancho-alto (100%, 127px);
                object-fit: cover;
                filter: brightness(60%);
            }

            &__titulo {
                @include position-relative (absolute, 45%, 0, 0, 0, null);
                @include fonts (3rem, $font-titulo, 200, none);
            }
        }

        &__duocontainer {
            display: flex;
            flex-direction: column-reverse;

            &__container1 {
                padding: 30px 0 30px 0;

                &__titu {
                    @include ancho-alto (auto, auto);
                    @include fonts (2.5rem, $font-titulo, 600, none);

                }

                &__parrafo {
                    @include ancho-alto (70%, auto);
                    @include fonts (1.5rem, $font-parrafo, 600, none);
                }

                &__button {
                    @include ancho-alto (170px, 40px);
                }
            }

            &__container2 {
                grid-column: 6 span;

                &__imagen {
                    @include ancho-alto (100%, 40rem);
                    object-fit: cover;
                }
            }
        }


        &__duocontainer2 {
            display: flex;
            flex-direction: column;

            &__container1 {

                &__imagen {
                    @include ancho-alto (100%, 40rem);
                    object-fit: cover;
                }
            }

            &__container2 {
                padding-bottom: 30px;

                &__titu {
                    @include ancho-alto (auto, auto);
                    @include fonts (2.5rem, $font-titulo, 600, none);
                    padding-top: 30px;
                }

                &__parrafo {
                    @include ancho-alto (70%, auto);
                    @include fonts (1.5rem, $font-parrafo, 600, none);
                }

                &__button {
                    @include ancho-alto (170px, 40px);
                }
            }
        }
    }
}


@media screen and (max-width: 314px) {

    .seccion-acercade {

        &__banner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 475px;
            place-items: center;
            position: relative;
            text-align: center;


            &__imagen {
                max-width: 100%;
                max-height: auto;
                grid-column: span 12;
                @include ancho-alto (100%, 127px);
                object-fit: cover;
                filter: brightness(60%);
            }

            &__titulo {
                @include position-relative (absolute, 45%, 0, 0, 0, null);
                @include fonts (2rem, $font-titulo, 200, none);
            }
        }
    }
}