// carousel // 

// decoracion wave carousel //
.caja-wave {
    @extend %deco-carousel;

    &__gradient-transition {
        @include transicion-button-3s;
    }
}

// seccion carousel //

.sec-carou {
    @include ancho-alto (100%, 81rem);

    &__base {

        &__item {
            @include ancho-alto (100%, 81rem);

            &__img {
                height: 100%;
                object-fit: cover;
            }
        }

        .caja-carousel {

            &-primary {
                @extend %base-anuncio;
                padding: 30px;
                @include flex-justify-align (center, center);
                flex-direction: column;
                gap: 15px;

                &__titu {
                    @include fonts (4rem, $font-titulo, 600, none);
                    text-align: center;
                }

                &__parrafo {
                    @include fonts (1.8rem, $font-parrafo, 600, none);
                    text-align: center;
                }
            }

            &-secundary {
                @extend %base-anuncio;
                padding: 30px;
                @include flex-justify-align (center, center);
                flex-direction: column;
                gap: 15px;

                &__titu {
                    @include fonts (4rem, $font-titulo, 600, none);
                    text-align: center;
                }

                &__parrafo {
                    @include fonts (1.8rem, $font-parrafo, 600, none);
                    text-align: center;
                }
            }

            &-terceary {
                @extend %base-anuncio;
                padding: 30px;
                @include flex-justify-align (center, center);
                flex-direction: column;
                gap: 15px;

                &__titu {
                    @include fonts (4rem, $font-titulo, 600, none);
                    text-align: center;
                }

                &__parrafo {
                    @include fonts (1.8rem, $font-parrafo, 600, none);
                    text-align: center;
                }
            }
        }

        &__icono-prev,
        &__icono-next {
            font-size: 50px;
            color: $color-morado-carusel;
            opacity: 1;

            &__icon {
                color: #43234c;
                @extend %transicion-hoverblanco;
            }

            &.active .icon-left,
            &.active .icon-right {
                color: #43234c;
                @extend %transicion-hoverblanco;
            }

            &.active-sec .icon-left,
            &.active-sec .icon-right {
                color: #04364A;
                @extend %transicion-hoverblanco;
            }

            &.active-ter .icon-left,
            &.active-ter .icon-right {
                color: #8F1537;
                @extend %transicion-hoverblanco;
            }
        }
    }
}

@media screen and (max-width: 1353px) {

    .caja-wave {
        top: -30%;
    }
}

@media screen and (max-width: 991px) {

    .caja-wave {
        top: -33%;
    }
}

@media screen and (max-width: 767px) {

    .caja-wave {
        display: none;
    }

    .sec-carou {
        @include ancho-alto (100%, 60rem);

        &__base {

            &__item {
                @include ancho-alto (100%, 60rem);
            }

            .caja-carousel {

                &-primary {
                    width: 350px;
                    height: 400px;
                    top: 13%;

                    &__parrafo {
                        display: none;
                    }
                }

                &-secundary {
                    width: 350px;
                    height: 400px;
                    top: 13%;

                    &__parrafo {
                        display: none;
                    }
                }

                &-terceary {
                    width: 350px;
                    height: 400px;
                    top: 13%;

                    &__parrafo {
                        display: none;
                    }
                }
            }

            &__icono-prev,
            &__icono-next {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 461px) {

    .sec-carou {

        .caja-carousel {

            &-primary {
                width: 70%;
                top: 13%;
            }

            &-secundary {
                width: 70%;
                top: 13%;
            }

            &-terceary {
                width: 70%;
                top: 13%;
            }
        }
    }
}