// seccion de catering //

.seccion-catering {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #ffc0cb;

    &__item-1 {

        .contenedor-catering {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;

            &__imagen {
                @include ancho-alto (100%, auto);
                object-fit: cover;
            }
        }
    }

    &__item-2 {
        @include flex-justify-align (center, center);
        flex-direction: column;

        .contenedor-catering-dos {
            height: auto;

            &__titulo {
                @include fonts (4rem, $font-titulo, 600, null);
                transform: scaleY(1.3);
                color: $color-marron-texto;
                text-align: center;
                margin-bottom: 6rem;
                margin-top: 4rem;
            }

            &__texto {
                align-items: center;
                @include fonts (2rem, $font-parrafo, 500, null);
                color: $color-marron-texto;
                text-align: center;
                margin-bottom: 6rem;
            }

            &__boton {
                display: flex;
                justify-content: center;

                &-prime {
                    background-color: maroon;
                    border: none;
                    width: 200px;
                    height: 50px;
                    @include fonts (2rem, $font-parrafo, 500, none);

                    &:focus {
                        background-color: palevioletred;
                    }
                }
            }
        }
    }
}

// media queries // 

@media screen and (max-width: 768px) {
    .seccion-catering {
        grid-template-columns: 1fr;

        &__item-1 {
            width: 100%;
        }

        &__item-2 {
            width: 100%;

            .contenedor-catering-dos {
                margin-bottom: 30px;

                &__titulo {}

                &__texto {
                    font-size: 1.7rem;
                    overflow: hidden;
                }

                &__boton {}
            }
        }
    }
}

@media screen and (max-width: 1236px) {

    .seccion-catering {

        &__item-1 {
            
            .contenedor-catering {
                height: 100%;

                &__imagen {
                    @include ancho-alto (100%, 100%);
                }
            }
        }

        &__item-2 {

            .contenedor-catering-dos {
                height: auto;

                &__titulo {
                    padding-top: 4rem;

                }

                &__texto {}

                &__boton {
                    padding-bottom: 3rem;
                }
            }
        }
    }
}