// pagina contactos //

.sec-contact-banner {

    &__banner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 400px;
        place-items: center;
        position: relative;
        text-align: center;


        &__imagen {
            max-width: 100%;
            max-height: auto;
            grid-column: span 12;
            @include ancho-alto (100%, 340px);
            object-fit: cover;
            filter: brightness(50%);
        }

        &__titulo {
            @include position-relative (absolute, 35%, 0, 0, 0, null);
            @include fonts (10rem, $font-parrafo, 300, none);
            transform: translate(-40%, -35%);
            text-align: center;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            transform: scaleY(1.1);
        }
    }
}


.sec-contactos {
    @include ancho-alto (100%, 70rem);
    @include fondo-rayas-contactov2;
    @include flex-justify-align (center, center);

    &__base {
        @include flex-justify-align (start, left);
        flex-direction: column;
        @include ancho-alto (50%, 60rem);
        gap: 10px;
        @include fondo-circulos-contacto;
        border-radius: 10px;
        padding: 3%;

        &__container {
            padding-bottom: 1.5rem;
            @include flex-justify-align (center, center);

            &__titu {
                @include fonts (4.5rem, $font-titulo, 600, none);
                color: $color-marron-texto;
            }
        }

        &__containertwo {
            @include flex-justify-align (center, center);
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            gap: 20px;

            &__input {
                @include ancho-alto (40%, 40px);
                @include fonts (1.7rem, $font-parrafo, 400, none);
                color: $color-marron-texto;
                background-color: transparent;
                border: none;
                transition: all 0.3s ease;
                outline: none;
                border-bottom: 1.8px solid $color-marron-texto;

                &:focus {
                    outline: none;
                    border-bottom: 1.8px solid #b65e7a;
                    @include transicion-button-3s;
                }

                &__labelapeone {
                    position: absolute;
                    top: 50%;
                    left: 9%;
                    transform: translateY(-50%);
                    color: $color-marron-texto;
                    font-weight: 600;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    pointer-events: none;
                }

                &:focus+&__labelapeone,
                &:not(:placeholder-shown)+&__labelapeone {
                    top: -10px;
                    left: 9%;
                    font-size: 12px;
                    color: $color-marron-texto;
                }

                &__labelape {
                    position: absolute;
                    top: 50%;
                    left: 51.4%;
                    transform: translateY(-50%);
                    color: $color-marron-texto;
                    font-weight: 600;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    pointer-events: none;
                }

                &:focus+&__labelape,
                &:not(:placeholder-shown)+&__labelape {
                    top: -10px;
                    left: 51.4%;
                    font-size: 12px;
                    color: $color-marron-texto;
                }
            }
        }

        &__containertwov2 {
            @include flex-justify-align (center, center);
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            gap: 20px;

            &__input {
                @include ancho-alto (40%, 40px);
                @include fonts (1.7rem, $font-parrafo, 400, none);
                color: $color-marron-texto;
                background-color: transparent;
                border: none;
                transition: all 0.3s ease;
                outline: none;
                border-bottom: 1.8px solid $color-marron-texto;

                &:focus {
                    outline: none;
                    border-bottom: 1.8px solid #b65e7a;
                    @include transicion-button-3s;
                }

                &__labelapeone {
                    position: absolute;
                    top: 50%;
                    left: 9%;
                    transform: translateY(-50%);
                    color: $color-marron-texto;
                    font-weight: 600;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    pointer-events: none;
                }

                &:focus+&__labelapeone,
                &:not(:placeholder-shown)+&__labelapeone {
                    top: -10px;
                    left: 9%;
                    font-size: 12px;
                    color: $color-marron-texto;
                }

                &__labelape {
                    position: absolute;
                    top: 50%;
                    left: 51.4%;
                    transform: translateY(-50%);
                    color: $color-marron-texto;
                    font-weight: 600;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    pointer-events: none;
                }

                &:focus+&__labelape,
                &:not(:placeholder-shown)+&__labelape {
                    top: -10px;
                    left: 51.4%;
                    font-size: 12px;
                    color: $color-marron-texto;
                }
            }
        }

        &__containerthree {
            @include flex-justify-align (center, center);
            border: none;
            @include fonts (1.7rem, $font-parrafo, 600, none);
            gap: 2rem;
            color: $color-marron-texto;

            &__lista {
                border: none;
                @include ancho-alto (68%, auto);
                background-color: transparent;

                &:focus {
                    outline: none;
                }
            }
        }

        &__containerfourth {
            @include flex-justify-align (center, center);
            flex-direction: column;
            @include ancho-alto (100%, 50%);

            &__textcaja {
                @include ancho-alto (82%, null);
                @include fonts (1.6rem, $font-parrafo, 400, none);
                @include box-shadow2;
                border: none;
                border-radius: 10px;
                color: $color-marron-texto;
                max-height: 50%;
                min-height: 20%;

                &:focus {
                    outline: none;
                }
            }

            &__boton {
                @include ancho-alto (25rem, 6rem);
                @include fonts (2rem, $font-parrafo, 600, none);
                color: $color-marron-texto;
                border-radius: 10px;
                border: 2px solid $color-marron-texto;
                background-color: transparent;

                &:hover {
                    color: #b65e7a;
                    border: 2px solid #b65e7a;
                    @include transicion-button-3s;
                }
            }
        }
    }
}

#miTextarea {
    padding: 10px;
}

@media screen and (max-width: 1310px) {

    .sec-contactos {

        &__base {
            @include ancho-alto (70%, 60rem);

        }

    }
}

@media screen and (max-width: 1074px) {

    .sec-contact-banner {

        &__banner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 400px;
            place-items: center;
            position: relative;
            text-align: center;


            &__imagen {
                max-width: 100%;
                max-height: auto;
                grid-column: span 12;
                @include ancho-alto (100%, 250px);
                object-fit: cover;
                filter: brightness(50%);
            }

            &__titulo {
                @include position-relative (absolute, 35%, 0, 0, 0, null);
                @include fonts (8rem, $font-parrafo, 300, none);
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .sec-contactos {

        &__base {
            @include ancho-alto (70%, 60rem);
            gap: 10px;

            &__container {
                padding-bottom: 0;
                @include flex-justify-align (center, center);
                padding-top: 10px;

                &__titu {
                    @include fonts (3.5rem, $font-titulo, 600, none);
                    color: $color-marron-texto;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            &__containertwo {
                @include flex-justify-align (center, center);
                flex-direction: column;

                &__input {
                    @include ancho-alto (70%, 40px);

                    &__labelapeone {
                        position: absolute;
                        top: 25%;
                        left: 16%;
                    }

                    &:focus+&__labelapeone,
                    &:not(:placeholder-shown)+&__labelapeone {
                        top: 1px;
                        left: 16%;
                    }

                    &__labelape {
                        position: absolute;
                        top: 84%;
                        left: 16%;
                    }

                    &:focus+&__labelape,
                    &:not(:placeholder-shown)+&__labelape {
                        top: 60px;
                        left: 16%;
                    }
                }
            }

            &__containertwov2 {
                @include flex-justify-align (center, center);
                flex-direction: column;

                &__input {
                    @include ancho-alto (70%, 40px);
                    @include fonts (1.7rem, $font-parrafo, 400, none);

                    &__labelapeone {
                        position: absolute;
                        top: 25%;
                        left: 16%;
                    }

                    &:focus+&__labelapeone,
                    &:not(:placeholder-shown)+&__labelapeone {
                        top: 1px;
                        left: 16%;
                    }

                    &__labelape {
                        position: absolute;
                        top: 84%;
                        left: 16%;
                    }

                    &:focus+&__labelape,
                    &:not(:placeholder-shown)+&__labelape {
                        top: 60px;
                        left: 16%;
                    }
                }
            }

            &__containerthree {
                &__lista {

                    @include ancho-alto (50%, auto);
                }
            }

            &__containerfourth {
                @include flex-justify-align (center, center);
                flex-direction: column;
                @include ancho-alto (100%, 35%);

                &__textcaja {
                    @include ancho-alto (70%, null);

                }

                &__boton {
                    @include ancho-alto (40%, 4rem);

                    &:hover {
                        color: #b65e7a;
                        border: 2px solid #b65e7a;
                        @include transicion-button-3s;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .sec-contact-banner {

        &__banner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 400px;
            place-items: center;
            position: relative;
            text-align: center;


            &__imagen {
                max-width: 100%;
                max-height: auto;
                grid-column: span 12;
                @include ancho-alto (100%, 127px);
                object-fit: cover;
                filter: brightness(50%);
            }

            &__titulo {
                @include position-relative (absolute, 35%, 0, 0, 0, null);
                @include fonts (5rem, $font-parrafo, 300, none);
            }
        }
    }

    .sec-contactos {
        &__base {
            @include ancho-alto (70%, 60rem);
            gap: 10px;

            &__container {
                padding-bottom: 0;
                @include flex-justify-align (center, center);
                padding-top: 10px;

                &__titu {
                    @include fonts (2.5rem, $font-titulo, 600, none);
                    color: $color-marron-texto;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            &__containertwo {
                @include flex-justify-align (center, center);
                flex-direction: column;

                &__input {
                    @include ancho-alto (70%, 40px);

                    &__labelapeone {
                        position: absolute;
                        top: 25%;
                        left: 16%;
                    }

                    &:focus+&__labelapeone,
                    &:not(:placeholder-shown)+&__labelapeone {
                        top: 1px;
                        left: 16%;
                    }

                    &__labelape {
                        position: absolute;
                        top: 84%;
                        left: 16%;
                    }

                    &:focus+&__labelape,
                    &:not(:placeholder-shown)+&__labelape {
                        top: 60px;
                        left: 16%;
                    }
                }
            }

            &__containertwov2 {
                @include flex-justify-align (center, center);
                flex-direction: column;

                &__input {
                    @include ancho-alto (70%, 40px);
                    @include fonts (1.7rem, $font-parrafo, 400, none);

                    &__labelapeone {
                        position: absolute;
                        top: 25%;
                        left: 16%;
                    }

                    &:focus+&__labelapeone,
                    &:not(:placeholder-shown)+&__labelapeone {
                        top: 1px;
                        left: 16%;
                    }

                    &__labelape {
                        position: absolute;
                        top: 84%;
                        left: 16%;
                    }

                    &:focus+&__labelape,
                    &:not(:placeholder-shown)+&__labelape {
                        top: 60px;
                        left: 16%;
                    }
                }
            }

            &__containerthree {
                &__lista {

                    @include ancho-alto (40%, auto);
                }
            }

            &__containerfourth {
                @include flex-justify-align (center, center);
                flex-direction: column;
                @include ancho-alto (100%, 35%);

                &__textcaja {
                    @include ancho-alto (70%, null);

                }

                &__boton {
                    @include fonts (1.5rem, $font-parrafo, 600, none);
                    @include ancho-alto (40%, 4rem);

                    &:hover {
                        color: #b65e7a;
                        border: 2px solid #b65e7a;
                        @include transicion-button-3s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .sec-contactos {

        &__base {
            @include ancho-alto (70%, 60rem);
            gap: 10px;

            &__container {
                padding-bottom: 0;
                @include flex-justify-align (center, center);
                padding-top: 10px;

                &__titu {
                    @include fonts (2rem, $font-titulo, 600, none);
                }
            }

            &__containertwo {
                @include flex-justify-align (center, center);
                flex-direction: column;

                &__input {
                    @include ancho-alto (70%, 40px);
                    @include fonts (1.5rem, $font-parrafo, 400, none);

                    &__labelapeone {
                        position: absolute;
                        top: 25%;
                        left: 16%;
                    }

                    &:focus+&__labelapeone,
                    &:not(:placeholder-shown)+&__labelapeone {
                        top: 1px;
                        left: 16%;
                    }

                    &__labelape {
                        position: absolute;
                        top: 84%;
                        left: 16%;
                    }

                    &:focus+&__labelape,
                    &:not(:placeholder-shown)+&__labelape {
                        top: 60px;
                        left: 16%;
                    }
                }
            }

            &__containertwov2 {
                @include flex-justify-align (center, center);
                flex-direction: column;

                &__input {
                    @include ancho-alto (70%, 40px);
                    @include fonts (1.5rem, $font-parrafo, 400, none);

                    &__labelapeone {
                        position: absolute;
                        top: 25%;
                        left: 16%;
                    }

                    &:focus+&__labelapeone,
                    &:not(:placeholder-shown)+&__labelapeone {
                        top: 1px;
                        left: 16%;
                    }

                    &__labelape {
                        position: absolute;
                        top: 84%;
                        left: 16%;
                    }

                    &:focus+&__labelape,
                    &:not(:placeholder-shown)+&__labelape {
                        top: 60px;
                        left: 16%;
                    }
                }
            }

            &__containerthree {
                @include fonts (1.5rem, $font-parrafo, 600, none);
                gap: 0;

                &__lista {

                    @include ancho-alto (40%, auto);
                }
            }

            &__containerfourth {
                @include flex-justify-align (center, center);
                flex-direction: column;
                @include ancho-alto (100%, 35%);

                &__textcaja {
                    @include ancho-alto (70%, null);

                }
            }
        }
    }
}

@media screen and (max-width: 359px) {

    .sec-contact-banner {

        &__banner {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 400px;
            place-items: center;
            position: relative;
            text-align: center;


            &__imagen {
                max-width: 100%;
                max-height: auto;
                grid-column: span 12;
                @include ancho-alto (100%, 127px);
                object-fit: cover;
                filter: brightness(50%);
            }

            &__titulo {
                @include position-relative (absolute, 35%, 0, 0, 0, null);
                @include fonts (3.5rem, $font-parrafo, 300, none);
            }
        }
    }

    .sec-contactos {

        &__base {
            @include ancho-alto (70%, 60rem);
            gap: 10px;

            &__container {
                padding-bottom: 0;
                @include flex-justify-align (center, center);
                padding-top: 10px;
                text-align: center;

                &__titu {
                    @include fonts (1.7rem, $font-titulo, 600, none);
                }
            }
        }
    }
}