// footer //

.footer-content {
    background-color: #9c4141;
    padding: 3rem;
    text-align: center;
    min-height: 100px;
    transform: scaleY(1.1);
}

.footer-content img {
    width: 150px;
    height: 80px;
}

.footer-content h5 {
    font-family: 'Prata', serif;
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    color: #3b1c26;
}

.footer-content p {
    display: flex;
    justify-content: flex-start;
    font-family: 'Prata', serif;
    font-size: 1.8rem;
    align-items: center;
    gap: 1rem;
    color: #3b1c26;
}

.col {
    display: block;
    align-items: flex-end;
}

.horario-text {
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    font-size: 5rem;
    color: #3b1c26;
}

.col .redes {
    color: #3b1c26;
}

.preguntas-box {
    padding-top: 2rem;
}

.preguntas-texto a {
    display: block;
    font-family: 'Prata', serif;
    text-decoration: none;
    font-size: 2rem;
    color: #3b1c26;
}

.col .logomarcas {
    display: flex;
    font-size: 4rem;
    justify-content: flex-start;
    color: #3b1c26;
    gap: 1rem;
}

.row .copyri p {
    font-size: 1.4rem;
}

.col .redes:hover {
    color: #b37287;
    transition: .25s ease;
}

.preguntas-texto a:hover {
    color: #b37287;
    transition: .25s ease;
}