//header//
header {
    min-width: 100vw !important;
}

.anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #E97777 5%, #FF9F9F 5% 10%, #E97777 10% 15%, #FF9F9F 15% 20%, #E97777 20% 25%, #FF9F9F 25% 30%, #E97777 30% 35%, #FF9F9F 35% 40%, #E97777 40% 45%, #FF9F9F 45% 50%, #E97777 50% 55%, #FF9F9F 55% 60%, #E97777 60% 65%, #FF9F9F 65% 70%, #E97777 70% 75%, #FF9F9F 75% 80%, #E97777 80% 85%, #FF9F9F 85% 90%, #E97777 90% 95%, #FF9F9F 95% 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.6rem;
    height: 3rem;
}

.anuncioletra {
    margin: 0;
    font-size: medium;
    transform: scaleY(0.9);
    font-weight: 400;
    color: #fff;
}

.anuncioletra:hover {
    color: #F6FDC3;
    transition: .25s ease;
}
