// anuncio navbar //

.navbar-anuncio {
  @include position-relative (fixed, 0, null, 0, 0, 1000);
  @include flex (flex, center, center, null);
  @include anuncio-barra ($patron-anuncio-escala-de-rosas, null, 0.6rem, 3rem);
  box-shadow: inset 0px 0px 32px -1px rgba(0, 0, 0, 0.48);

  &__letra {
    @include anuncio-letra (0, medium, scaleY(0.9), 400, #fff);
    @include fonts (large, $font-parrafo, 500, null);

    &:hover {
      color: #F6FDC3;
      transition: .25s ease;
    }
  }
}

.nav-pc {
  @include ancho-alto (100%, 6rem);
  background-color: #fff;
  @include position-relative (fixed, 3rem, null, 0, 0, 1000);
  height: 8rem;
  @include flex-justify-align (space-between, center);

  &__baseone {
    margin-left: 10%;

    &__left {
      @include flex-justify-align (flex-start, center);
      @include fonts (1.6rem, $font-parrafo, 400, none);
      padding: 0;
      margin: 0;
      gap: 20px;

      &-item:hover .dropdown-menu {
        display: block;
      }

      &__dropdown-menu {
        font-size: 1.6rem;
        animation: .5s slideup;
      }

      &__link:hover {
        @include flecha-color-transfor-transi (#ff6969, rotate(180deg), .25s ease);

        & i.fa-chevron-down {
          @include flecha-color-transfor-transi (#ff6969, rotate(180deg), .25s ease);
        }
      }

      &__link:focus {
        color: #ff6969;

        & i.fa-chevron-down {
          @include flecha-color-transfor-transi (#ff6969, rotate(270deg), .25s ease);
        }
      }

    }
  }

  &__logo {
    @include flex-justify-align (center, center);
    @include ancho-alto (11rem, 11rem);
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 45%;

    &__img {
      width: 9rem;
      border-radius: 50%;
    }
  }

  &__basetwo {
    display: flex;
    align-items: center;
    margin-right: 10%;
    gap: 20px;

    &__link {

      &:hover {
        color: #ff6969;
        transition: .25s ease;
      }
    }

    &__right {
      display: flex;
      @include fonts (1.6rem, $font-parrafo, 400, none);
      padding: 0;
      margin: 0;
      gap: 20px;

      &-item:hover .dropdown-menu {
        display: block;
      }

      &:hover {
        color: #ff6969;
        @include transicion-4segun;
      }

      &__dropdown-menu {
        font-size: 1.6rem;
        animation: .5s slideup;
      }

      &__link:hover {
        @include flecha-color-transfor-transi (#ff6969, rotate(180deg), .25s ease);

        & i.fa-chevron-down {
          @include flecha-color-transfor-transi (#ff6969, rotate(180deg), .25s ease);
        }
      }

      &__link:focus {
        color: #ff6969;

        & i.fa-chevron-down {
          @include flecha-color-transfor-transi (#ff6969, rotate(270deg), .25s ease);
        }
      }

    }

    &__icon {
      @include links-flex-tamano-espacio (flex, null, 1rem);
      padding: 0;
      margin: 0;

      &__logi {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
      }

      &__searchb {
        padding: 0;
        margin: 0;
      }

      &__carrito {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.cantop {
  @include flex-justify-align (start, end);
  @include fondo-circulos-contactov2;

  &-body {
    @include flex-justify-align (flex-start, flex-start);
    flex-direction: column;
    width: 380px;
    max-height:  11rem;
    @include box-shadow-login;
    background-color: #fff;

    &-title {
      @include fonts (3rem, $font-titulo, 600, none);
      color: $color-marron-texto,
    }

    &__search {
      display: flex;
      gap: 20px;
      align-items: flex-end;
      flex-direction: row-reverse;
      
      &__ico {
        font-size: 2rem;
        padding-bottom: 5px;
      }
    }

    &__bar {
      @include ancho-alto (28rem, 40px);
      @include fonts (2rem, $font-parrafo, 400, none);
      color: $color-marron-texto;
      border: none;
      border-bottom: 2px solid $color-marron-texto;

      &:focus {
        outline: none;
      }
    }
  }
}

.canendup {
  @include fondo-circulos-contacto;
  &__header {
    &__title {
      @include fonts (2rem, $font-titulo, 600, none);
      color: $color-marron-texto;
      transform: scaleY(1.1);
    }
  }
}

.canend {
  @include fondo-circulos-contactov2;
  &__header {
    &__title {
      @include fonts (2rem, $font-titulo, 600, none);
      color: $color-marron-texto;
      transform: scaleY(1.1);
    }
  }
}

.offcanvas-top {
  max-height: 10vh;
}

// media queries //

@media only screen and (max-width: 9999px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 1279px) {

  .cantop {
  
    &-body {
      width: 350px;
      max-height: 10rem;
      
      &-title {
        @include fonts (2.5rem, $font-titulo, 600, none);
      }
  
      &__bar {
        @include fonts (1.8rem, $font-parrafo, 400, none);
      }
    }
  }

  .nav-pc {

    &__baseone {

      &__left {
        @include fonts (1.45rem, $font-parrafo, 400, none);

        &__dropdown-menu {
          font-size: 1.45rem;
          animation: .5s slideup;
        }
      }
    }

    &__basetwo {
      margin-right: 1.5%;

      &__right {
        @include fonts (1.45rem, $font-parrafo, 400, none);

        &__dropdown-menu {
          font-size: 1.45rem;
          animation: .5s slideup;
        }
      }
    }
  }


}

@media screen and (max-width: 991px) {

  .nav-pc {
    display: none;
  }

  .container-fluid {
    @include paddin-left-right (2rem, 2rem);
  }

  .navbar {
    display: flex;
    @include position-relative (fixed, 0, null, 0, 0, 1001);
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

    &-brand {
      & img {
        width: 11rem;
      }
    }

    &-collapse {
      transform: translateX(-100%);
      transition: 0.2s ease-out;

      &.show {
        @include paddin-left-right (0.75rem, 0.75rem);
        transform: translateX(0);
        transition: 0.2s ease-in-out;
        @include position-relative (fixed, 8rem, 0, 0, 0, 1000);
        background-color: #fff;
      }
    }

    &-toggler {
      @include boton-burger (none !important, #CE5A67, #fff);

      &:focus {
        box-shadow: none;
      }
    }

    &-nav {
      @include links-flex-tamano-espacio (null, large, null);
      font-family: $font-menus;
      padding-top: 2.3rem;

      &:focus {
        color: #ff6969;
      }

      .dropdown {
        &-toggle {
          &::after {
            display: none;
          }
        }

        &-menu {
          animation: .5s slideup;
        }

        &-item {
          @include links-flex-tamano-espacio (null, large, null);

          &:focus {
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }

    .nav {

      &-item {

        .login-icono {
          display: flex;
          margin-top: 36px;

          &__icon {
            @include boton-search-icono-fondo-border-vertical-marginright (transparent, none, middle, 1.3rem);
          }

          &__link {
            font-weight: 500;
            transform: $letras-especiales-aplastadas;
            @include text-decoration (underline, auto, 2px);

            &:active {
              color: #ff6969;
              transition: $suave-o-semilento;
            }
          }
        }
      }

      &-link {
        padding-top: 1.8rem;

        &:focus {
          color: #ff6969;
        }

        &:active {
          color: #ff6969;
        }
      }
    }

    .hr {
      @include margintop-marginbottom (-2px, -2px);
    }
  }

  .boton-barrita {
    @include ancho-alto (3rem, 3rem);
  }

  .search-button {

    &__button {
      @include boton-search-icono-fondo-border-vertical-marginright (transparent, none, middle, 1rem);
    }

    &__search-bar {
      transform: $letras-especiales-aplastadas;
      vertical-align: middle;
      @include boton-search-borde-tamano-fontfamily-fontweight (none, 2rem, $font-menus, 400);

      &:focus {
        outline: none;
      }
    }
  }

  .carrito-mobile {
    margin-top: 1.5rem;
    padding: 0;
    width: 0;
    border: 0;
  }

  .main-content {
    margin-top: 8.2rem;
  }
}