// seccion productos //

.sec-productos {
    
    &__text {
        @include ancho-alto (100%, 200px);
        @include flex-justify-align (center, center);
        @include animacion-fadeup-start;
        flex-direction: column;
        margin-bottom: 1.5%;
        margin-top: 2%;

        &__titu {
            @include fonts (4rem, $font-titulo, 600, null);
            transform: scaleY(1.3);
            color: $color-marron-texto;
        }

        &__parrafo {
            @include fonts (2rem, $font-titulo, 600, null);
            color: $color-marron-texto;
            margin-top: 15px;
        }
    }

    &__base {

        @include animacion-fadeup-start-primer;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3%;

        &__article {

            &__item {
                grid-column-gap: 20px;
                @include ancho-alto (100%, 350px);
                border-radius: 10px;
                overflow: hidden;

                &__img {
                    @include ancho-alto (100%, 350px);
                    object-fit: cover;
                    border-radius: 10px;
                    overflow: hidden;

                    &:hover {
                        transform: scale(1.1);
                        @include transicion-button-3s;
                        filter: brightness(70%);
                    }
                }
            }

            &__textbase {

                &__titu {
                    @include fonts (2.2rem, $font-titulo, 600, none);
                    @include transicion-3segun;
                    color: $color-marron-texto;
                    transform: scaleY(1.1);
                    padding-top: 10px;
                    margin-bottom: 10px;

                    &:hover {
                        color: $color-principal;
                    }
                }
            }
        }
    }
}

//media querie//

@media screen and (max-width: 1381px) {

    .sec-productos {

        &__base {
            margin-left: 5%;
            margin-right: 5%;

            &__article {

                &__textbase {

                    &__titu {
                        @include fonts (2rem, $font-titulo, 600, none);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1237px) {

    .sec-productos {

        &__base {
            margin-left: 3%;
            margin-right: 3%;

            &__article {

                &__textbase {

                    &__titu {
                        @include fonts (1.8rem, $font-titulo, 600, none);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .sec-productos {

        &__base {
            grid-template-columns: repeat(2, 1fr);

            &__article {

                &__textbase {

                    &__titu {
                        @include fonts (2.2rem, $font-titulo, 600, none);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .sec-productos {
        &__text {
            margin-left: 2%;
            margin-right: 2%;

            &__titu {
                @include fonts (3rem, $font-titulo, 600, null);
                text-align: center;
            }

            &__parrafo {
                @include fonts (1.8rem, $font-titulo, 600, null);
                text-align: center;
            }
        }

        &__base {
            grid-template-columns: 1fr;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}