// mixins Globales //

@mixin flex-justify-align ($center, $acenter) {
    display: flex;
    justify-content: $center;
    align-items: $acenter;
}

@mixin flex-display-direc-justy-alignitem ($flex, $direc, $justy, $align) {
    display: $flex;
    flex-direction: $direc;
    justify-content: $justy;
    align-items: $align;
}

@mixin ancho-alto ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin margintop-marginbottom ($margintop, $marginbottom) {
    margin-top: $margintop;
    margin-bottom: $marginbottom;
}

@mixin paddin-left-right ($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin paddin-top-bottom ($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin paddings-all ($top, $botom, $left, $right) {
    padding-top: $top;
    padding-bottom: $botom;
    padding-left: $left;
    padding-right: $right;
}

@mixin fonts ($font-size, $font-fa, $font-we, $text-deco) {
    font-size: $font-size;
    font-family: $font-fa;
    font-weight: $font-we;
    text-decoration: $text-deco;
}

@mixin margin-left-right ($lef, $rig) {
    margin-left: $lef;
    margin-right: $rig;
}

//parametros mixin //

@mixin flex ($direccion, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// para añadirlo es con @include flex (row o null, center, center, 3rem) es un ejemplo //

// mixins navbar anuncio //

@mixin anuncio-barra ($fondo, $fontfami, $padding, $height) {
    background: $fondo;
    font-family: $fontfami;
    padding: $padding;
    height: $height;
}

@mixin anuncio-letra ($margin, $fontfami, $transform, $fontweight, $color) {
    margin: $margin;
    font-family: $fontfami;
    transform: $transform;
    font-weight: $fontweight;
    color: $color;
}

// mixins del navbar //

@mixin medida-navbar ($justify, $align, $padding) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    padding: $padding;
}

@mixin links-flex-tamano-espacio ($flex, $tamano , $espacio) {
    display: $flex;
    font-size: $tamano;
    gap: $espacio;
}

@mixin flecha-color-transfor-transi ($color, $transfor , $transi) {
    color: $color;
    transform: $transfor;
    transition: $transi;
}

// logo mixin //

@mixin logo-size {
    width: 130px;
    height: auto;
}

// mixins navbar-mobile //

@mixin boton-burger ($border, $fondo , $color) {
    border: $border;
    background-color: $fondo;
    color: $color;
}

@mixin boton-search-borde-tamano-fontfamily-fontweight ($borde, $size, $ffamily, $fweight) {
    border: $borde;
    font-size: $size;
    font-family: $ffamily;
    font-weight: $fweight;
}

@mixin boton-search-icono-fondo-border-vertical-marginright ($fondo, $borde, $vertical, $margin) {
    background-color: $fondo;
    border: $borde;
    vertical-align: $vertical;
    margin-right: $margin;
}

@mixin text-decoration ($text-decoration, $text-decoration-skip, $text-decoration-thickness) {
    text-decoration: $text-decoration;
    text-decoration-skip-ink: $text-decoration-skip;
    text-decoration-thickness: $text-decoration-thickness;
}

// position relative // 

@mixin position-relative ($posi, $top, $botom, $left, $right, $zindex) {
    position: $posi;
    top: $top;
    bottom: $botom;
    left: $left;
    right: $right;
    z-index: $zindex;
}

// box-shadows // 

@mixin box-shadow-login {
    -webkit-box-shadow: $se;
    -moz-box-shadow: $see;
    box-shadow: $seee;
}

@mixin box-shadow2 {
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 8px -1px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 8px -1px rgba(66, 68, 90, 1);
}

// transiciones //

@mixin transicion-3segun {
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
}

@mixin transicion-4segun {
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

@mixin transicion-button-3s {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@mixin fondo-maps-color-piel {
    background:
        conic-gradient(#FFEBD8 25%, #0000 0) 0 0/calc(2*32px) calc(32px/9.5),
        conic-gradient(#FFEBD8 25%, #0000 0) 0 0/calc(32px/9.5) calc(2*32px),
        repeating-conic-gradient(#0000 0 25%, #FFEBD8 0 50%) 32px 0 /calc(2*32px) calc(2*32px),
        radial-gradient(50% 50%, #E2D1C0 98%, #FFEBD8) 0 0/32px 32px;
}

@mixin fondo-maps-color-verde {
    background:
        conic-gradient(#F2C18D 25%, #0000 0) 0 0/calc(2*37px) calc(37px/9.5),
        conic-gradient(#F2C18D 25%, #0000 0) 0 0/calc(37px/9.5) calc(2*37px),
        repeating-conic-gradient(#0000 0 25%, #F2C18D 0 50%) 37px 0 /calc(2*37px) calc(2*37px),
        radial-gradient(50% 50%, #F6F193 98%, #F2C18D) 0 0/37px 37px;
}

@mixin fondo-circulos-contacto {
    background:
        conic-gradient(#FFFFFF 25%, #0000 0) 0 0/calc(2*38px) calc(38px/9.5),
        conic-gradient(#FFFFFF 25%, #0000 0) 0 0/calc(38px/9.5) calc(2*38px),
        repeating-conic-gradient(#0000 0 25%, #FFFFFF 0 50%) 38px 0 /calc(2*38px) calc(2*38px),
        radial-gradient(50% 50%, #F2DEDC 98%, #FFFFFF) 0 0/38px 38px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
}

@mixin fondo-circulos-contactov2 {
    background:
        conic-gradient(#FFECEC 25%, #0000 0) 0 0/calc(2*32px) calc(32px/9.5),
        conic-gradient(#FFECEC 25%, #0000 0) 0 0/calc(32px/9.5) calc(2*32px),
        repeating-conic-gradient(#0000 0 25%, #FFECEC 0 50%) 32px 0 /calc(2*32px) calc(2*32px),
        radial-gradient(50% 50%, #FFBABA 98%, #FFECEC) 0 0/32px 32px;
}

@mixin fondo-rayas-contacto {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 38px, #D4BCBC 38px, #D4BCBC 76px);
    background-color: #E8E8F1;
}

@mixin fondo-rayas-contactov2 {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, #FFBABA 32px, #FFBABA 64px);
    background-color: #FFECEC;
}