// mixins Globales //

@mixin flex-justify-align ($center, $acenter) {
    display: flex;
    justify-content: $center;
    align-items: $acenter;
}

@mixin flex-display-direc-justy-alignitem ($flex, $direc, $justy, $align) {
    display: $flex;
    flex-direction: $direc;
    justify-content: $justy;
    align-items: $align;
}

@mixin ancho-alto ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin margintop-marginbottom ($margintop, $marginbottom) {
    margin-top: $margintop;
    margin-bottom: $marginbottom;
}

@mixin paddin-left-right ($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin paddin-top-bottom ($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin paddings-all ($top, $botom, $left, $right) {
    padding-top: $top;
    padding-bottom: $botom;
    padding-left: $left;
    padding-right: $right;
}

@mixin fonts ($font-size, $font-fa, $font-we, $text-deco) {
    font-size: $font-size;
    font-family: $font-fa;
    font-weight: $font-we;
    text-decoration: $text-deco;
}

@mixin margin-left-right ($lef, $rig) {
    margin-left: $lef;
    margin-right: $rig;
}

//parametros mixin //

@mixin flex ($direccion, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// para añadirlo es con @include flex (row o null, center, center, 3rem) es un ejemplo //

// mixins navbar anuncio //

@mixin anuncio-barra ($fondo, $fontfami, $padding, $height) {
    background: $fondo;
    font-family: $fontfami;
    padding: $padding;
    height: $height;
}
 
@mixin anuncio-letra ($margin, $fontfami, $transform, $fontweight, $color) {
    margin: $margin;
    font-family: $fontfami;
    transform: $transform;
    font-weight: $fontweight;
    color: $color;
}

// mixins del navbar //

@mixin medida-navbar ($justify, $align, $padding) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    padding: $padding;
}

@mixin links-flex-tamano-espacio ($flex, $tamano ,$espacio) {
    display: $flex;
    font-size: $tamano;
    gap: $espacio;
}

@mixin flecha-color-transfor-transi ($color, $transfor ,$transi) {
    color: $color;
    transform: $transfor;
    transition: $transi;
}

// logo mixin //

@mixin logo-size {
    width: 130px;
    height: auto;
}

// mixins navbar-mobile //

@mixin boton-burger ($border, $fondo ,$color) {
    border: $border;
    background-color: $fondo;
    color: $color;
}

@mixin boton-search-borde-tamano-fontfamily-fontweight ($borde, $size, $ffamily, $fweight) {
    border: $borde;
    font-size: $size;
    font-family: $ffamily;
    font-weight: $fweight;
}

@mixin boton-search-icono-fondo-border-vertical-marginright ($fondo, $borde, $vertical, $margin) {
    background-color: $fondo;
    border: $borde;
    vertical-align: $vertical;
    margin-right: $margin;
}

@mixin text-decoration ($text-decoration, $text-decoration-skip, $text-decoration-thickness) {
    text-decoration: $text-decoration;
    text-decoration-skip-ink: $text-decoration-skip;
    text-decoration-thickness: $text-decoration-thickness;
}

// position relative // 

@mixin position-relative ($posi, $top, $botom, $left, $right, $zindex) {
    position: $posi;
    top: $top;
    bottom: $botom;
    left: $left;
    right: $right;
    z-index: $zindex;
}

