// colores de fondo //

$color-principal: #CE5A67; 
$color-secundario: #bdffe9;
$color-terciario: #addbff;
$color-pri-secun: #9a6e79;
$color-secun-secun: #7fab9c;
$color-ter-secun: #7493ab;
$color-marron-texto: #3b1c26;

// patrones de colores //

$patron-anuncio-escala-de-rosas: linear-gradient(to right, #E97777 5%, #FF9F9F 5% 10%, #E97777 10% 15%, #FF9F9F 15% 20%, #E97777 20% 25%, #FF9F9F 25% 30%, #E97777 30% 35%, #FF9F9F 35% 40%, #E97777 40% 45%, #FF9F9F 45% 50%, #E97777 50% 55%, #FF9F9F 55% 60%, #E97777 60% 65%, #FF9F9F 65% 70%, #E97777 70% 75%, #FF9F9F 75% 80%, #E97777 80% 85%, #FF9F9F 85% 90%, #E97777 90% 95%, #FF9F9F 95% 100%);

// transform //

$letras-especiales-aplastadas: scaleY(0.97);

// transisicones //

$suave-o-semilento: 0.2s ease;

// backgrounds //

$seccion-newsletter-background: conic-gradient(#ffffff 25%, #0000 0) 0 0/calc(2*48px) calc(48px/9.5),
conic-gradient(#ffffff 25%, #0000 0) 0 0/calc(48px/9.5) calc(2*48px),
repeating-conic-gradient(#0000 0 25%, #ffffff 0 50%) 48px 0 /calc(2*48px) calc(2*48px),
radial-gradient(50% 50%, #ffdae3 98%, #ffffff) 0 0/48px 48px;

