// colores de fondo //

$color-principal: #CE5A67; 
$color-secundario: #bdffe9;
$color-terciario: #addbff;
$color-pri-secun: #9a6e79;
$color-secun-secun: #7fab9c;
$color-ter-secun: #7493ab;


// transform //

$letras-especiales-aplastadas: scaleY(0.97);

// transisicones //

$suave-o-semilento: 0.2s ease;